@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-image: url("/images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: hsl(243deg, 100%, 93%);
  min-height: 100vh;
}
@media (min-width: 750px) {
  body {
    background-image: url("/images/bg-desktop.png");
  }
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}
@media (min-width: 750px) {
  .main-container {
    flex-direction: row;
    gap: 25px;
  }
}

.dashboard, .storage {
  background-color: hsl(228deg, 56%, 26%);
  width: 330px;
  display: flex;
  flex-direction: column;
}

.dashboard {
  height: 200px;
  padding: 35px 30px;
  border-radius: 10px 100px 10px 10px;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
}
@media (min-width: 750px) {
  .dashboard {
    width: 350px;
    height: 200px;
  }
}
.dashboard__options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}
.dashboard__options-container {
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage {
  height: 160px;
  padding: 30px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media (min-width: 750px) {
  .storage {
    width: 540px;
    height: 150px;
    /* Size of Options Div - Size of Storage Div */
    margin-top: 50px;
    align-items: flex-start;
    padding: 35px;
  }
}
.storage__paragraph {
  font-size: 1.1em;
  margin-bottom: 10px;
}
.storage__paragraph__used {
  font-weight: 700;
}
@media (min-width: 750px) {
  .storage__paragraph {
    font-size: 1.2em;
  }
}
.storage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.storage__container-progress {
  appearance: none;
  width: 260px;
  height: 20px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  /* Circle White */
}
@media (min-width: 750px) {
  .storage__container-progress {
    width: 460px;
  }
}
.storage__container-progress::-webkit-progress-value {
  border-radius: 10px;
  background-image: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
}
.storage__container-progress::-webkit-progress-bar {
  background-color: hsl(229deg, 57%, 11%);
  padding: 3px;
}
.storage__container-progress::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 55px;
}
@media (min-width: 750px) {
  .storage__container-progress::after {
    right: 95px;
  }
}
.storage__container-limits {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 1.1em;
}
@media (min-width: 750px) {
  .storage__container-limits {
    width: 460px;
  }
}
.storage__left {
  background-color: #fff;
  width: 180px;
  height: 75px;
  position: absolute;
  bottom: -40px;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 750px) {
  .storage__left {
    height: 70px;
    top: -50px;
    bottom: 0;
    right: 40px;
    border-end-end-radius: 0px;
    /* Create a After Element (Triangule) */
  }
  .storage__left::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    bottom: -30px;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
    right: 0px;
  }
}
.storage__left-text {
  font-size: 1.2em;
  color: hsl(229deg, 57%, 11%);
  font-weight: 400;
}
.storage__left-text__number {
  font-size: 2em;
  font-weight: 700;
}
@media (min-width: 750px) {
  .storage__left-text__number {
    font-size: 2.2em;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
